@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Chewy&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

.hidden{
    opacity: 0;
    transform: translateY(20%);
    transition: all 1.5s;
}

.show{
    opacity: 1;
    transform: translateX(0px);
}




@media (min-width : 1000px){

    
    .page1 h1{
        transform: translateY(-200px) !important;
        font-size: 200% !important;
        word-spacing: 20px;
        letter-spacing: 7px !important;
    }

    .page2 div{
        
        flex-direction: row !important;
        justify-content: space-evenly !important;
        
    }

    .card-content{
        width: 70% !important;
        height: 70% !important;
    }
    
    .navbar{
        flex-direction: row !important;
        position: sticky !important;
        top: 0;
        z-index: 12;
        background-color: rgba(255,255,255,0.8) !important;
    }
    
    .material-symbols-outlined{
        display: none !important;
    }
    .navbar h1{
        font-size: 22px !important;
    }

    .navbar ul{
        width: 60% !important;
    }
    
    .navbar h1{
        width: 40% !important;
    }

    .navbar ul li a{
        font-size: 18px !important;
    }

    .card-content div p{
        font-size: 30px !important;
    }

    .about-card:hover{
        height: 90% !important;
        align-self: center !important;    
    }

    .about-card:hover .about-card-p{
        visibility: visible;
        font-size: 25px;
        letter-spacing: 3px;
        
    }
    .about-card-h1{
        font-size: 35px !important;
    }
    .about-card-p2{
        font-size: 30px !important;
        letter-spacing: 3px !important;
    }
    


}



.pogressbar{
    position: fixed;
    width: 100vw;
    z-index: 13;
    height: 2.5px;
    top: 0;
    background-color: rgba(255,255,255,0);
}

.pogressbar section{
    width: calc(var(--scroll)*100%);
    height: 100%;
    left: 0;
    background-color: #be5151;
}
.sidebar{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #161616;
    left: -100%;
    transition: all 1s;
    z-index: 111;
}

.sections{
    height: 70%;
    background-color: #161616;
    position: relative;
    width: 100%;
    top: 30%;
    
}



#settings{
    position: fixed;
    right: 0;
    transform: translate(-15px, 12px);
    cursor: pointer;
    z-index: 11;
    font-weight: bold;
    display: none;
}


.page1{
    height: 90vh;
    width: 100%;
    display: flex;
    background-image: url("bg1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.page1 h1{
    font-size: 150%;
    color: #be5151;
    transform: translate(0px,-130px);
    
    font-family: 'Chewy', cursive;
    letter-spacing: 5px;
    
}

.page1 div{
    display: flex;
    width: 100%;
    justify-content: space-around;
    transform: translateY(250%);
}

.page1 div button{
    padding: 0;
    border: 0;
    margin: 0;
    background-color: #fff;
    height: 35px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    max-width: 350px;
    font-family: 'Audiowide', cursive;
    letter-spacing: 10px;
    font-size: 17px;
    color: #be5151;
    font-weight: bold;
    cursor: pointer;
   
}

.page1 div button:hover{
    color: #eaeaea;
    background-color: rgba(0,0,0,0);
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
    font-size: 20px;
    border: solid 2px #fff;
}


.page2{
    height: 200vh;
    width: 100%;
    background-image: url("bg2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
 
}

.page2 div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.card{
    height: 100%;
    background-color: rgba(255,255,255,0);
    
}

.card-content{
    height: 90%;
    width: 90%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 500px;
    max-height: 500px;
    background-color: #000;
    box-shadow: 5px 5px 20px black;
}

.card-content div{
    height: 50%;
    width: 100%;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.5);
}

.card-content div p{
    font-size: 18px;
    color: #eaeaeab1;
    text-align: center;
}




.page3{
    height: 100vh;
    width: 100%;
    background-image: url("bg3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1%; 
}

.page3 div{
    height: 50%;
    display: flex;
    justify-content: center;
}

.about-card{
    height: 90%;
    width: 90%;
    background-color:#be5151 ;
    align-self: center; 
}

.about-card h1{
    text-align: center;
    margin-top: 20px;
    letter-spacing: 7px;
}

.about-card:hover{

    height: 130%;
    align-self: flex-start;
    margin-top: 3.5%;

}

.about-card:hover .about-card-p{
    display: flex;
}

.about-card:hover .about-card-p2{
    display: none;
}
.about-card:hover .about-card-h1{
    display: none;
}



.about-card-p{
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    text-align: center;
    color: #eaeaea;
    display: none;
    align-items: center;
    
}

.about-card-p2{
    padding: 5%;
    height: 78%;
    text-align: center;
    color: #eaeaea;
    display: flex;
    align-items: center;  
    letter-spacing: 3px;
    font-size: 15px;
}


.page4{
    height: 100vh;
    width: 100%;
    background-image: url("bg4.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex; 
    align-items: center;
    justify-content: center;
    
}

.contact-info{
    height: 50vh;
    width: 100%;
    background-color: #161616;
}

.social-links{
    height: 50%;
    width: 100%;
    background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links ul{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 90%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.social-links ul li{
    height: 40%;
    width: 20%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-links ul li a{
    text-decoration: none;
    font-size: 200%;
    text-align: center;
    width: 100%;
    color: #eaeaea;
}

.social-links ul li a:hover{
    color: #be5151;
    transform: scale(1.5) translateY(-10px);
    transition: all 0.4s;
}

.navbar h1{
    font-size: 100%;
    text-align: center;
    padding: 2%;
    font-family: 'Audiowide', cursive;
    letter-spacing: 4px;
}

.navbar{
    background-color:rgb(255,255,255);
   
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.navbar ul{
    
    list-style: none;
    display: flex;
    padding: 0;
    border: 0;
}

.navbar ul li{
    width: 33.33%;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 1%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.navbar ul li:hover{
    border-bottom: #000 solid 1.6px;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
}



















.sections ul{
    
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    border: 0;
    align-items: center;
    justify-content: space-around;
    
    
}

.sections ul li{
    width: 100%;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 1%;
    
}

.sections ul li a:hover{
    color: rgb(255, 255, 255);
}


.sections ul li a{
    text-decoration: none;
    color: rgb(180, 180, 180);
    width: 100%;
    font-size: 150%;
}

.sections ul li a:hover ~ .sidebar {
    left: -100%;
}































.form-box{
    width: 90%;
    height: 90%;
    max-height: 500px;
    max-width: 450px;
    background-color: rgba(255,255,255,0.75);
    padding: 40px 50px 70px;
    text-align: center;
    border-radius: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-box h1{
    font-size: 25px;
    margin-bottom: 2%;
    color: #3c00c0;
    position: relative;
    font-family: 'Audiowide', cursive;
    letter-spacing: 2px;
}

.form-box form{
    margin-bottom: 25px;
}


.input-group{
    height: 50%;
}

.input-field{
    margin: 7% 0;
    background: #eaeaea;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 50px;

    overflow: hidden;
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
    
}

form p{
    text-align: right;

}
form p a{
    text-decoration: none;
    color: #3c00a0
}

.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.btn-field button{
    height: 40px;
    flex-basis: 48%;
    background: #3c00a0;
    color: #ffff;
    outline: 0;
    border: 0;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Chewy', cursive;
    letter-spacing: 2px;
    font-size: 100%;

}


